
#mainPane {
    -fx-background-color: black;
}

#victoryPane {
    -fx-background-color: #00000080;
}

#board {
    -fx-background-color: #4f4f4f;
}

#title {
    -fx-text-fill: white;

}

.columnSelect:hover{
    -fx-cursor: hand;
}