
#mainPane {
    -fx-background-color: black;
}

#victoryPane {
    -fx-background-color: #000000CC;
}

#board {
    -fx-background-color: dodgerblue;
}

#title {
    -fx-text-fill: white;

}

.columnSelect:hover{
    -fx-cursor: hand;
}

.buttonVictory{
    -fx-background-color : #e3e3e3;
    -fx-border-width : 0px;
    -fx-border-radius: 10%;
}

.buttonVictory:hover{
    -fx-cursor: hand;
}